@media (max-width: 1000px) {
  .header {
    margin: 4.625rem auto;
  }

  .container {
    flex-direction: column;
    margin-bottom: 4.625rem;
  }

  .group-mid {
    flex-direction: row;
  }

  .card {
    flex: 1;
    max-width: 19.63rem;
  }
}

@media (max-width: 685px) {
  .header {
    max-width: 19.75rem;
    margin: 4rem auto;
  }

  .header__title,
  .header__tagline {
    font-size: var(--24px);
  }

  .group-mid {
    flex-direction: column;
  }

  .container {
    margin-bottom: 4rem;
  }
}
