:root {
  /* Colors: */
  --clr-grey-500: #4c4e61;
  --clr-grey-400: #697077;
  --clr-primary-red: #ea5353;
  --clr-primary-cyan: #45d3d3;
  --clr-primary-orange: #fcaf4a;
  --clr-primary-blue: #549ef2;
  --clr-attribution: #3e52a3;

  /* Pixel Sizes: */
  --4px: 0.25rem;
  --6px: 0.375rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --11px: 0.6875rem;
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --36px: 2.25rem;

  /* Font Weights: */
  --fw-extralight: 200;
  --fw-regular: 400;
  --fw-semibold: 600;
}

/* 
********************************
SELF-HOSTING FONT:
********************************
*/

/* VARIABLE FONT: */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("/assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraLight.woff2") format("woff2"),
    url("/assets/fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* 
********************************
GLOBAL CSS VALUES:
********************************
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--15px);
  font-weight: var(--fw-regular);
  line-height: 1.4;
  letter-spacing: 0;

  background-color: #fafafa;
  color: var(--clr-grey-500);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 
********************************
MAIN:
********************************
*/
/* Header: */
.header {
  display: flex;
  flex-direction: column;

  margin: 78px auto;
  max-width: 540px;
  text-align: center;
}

.header__title,
.header__tagline {
  font-size: var(--36px);
  letter-spacing: 0.25px;
}

.header__title {
  font-weight: var(--fw-semibold);
  margin-bottom: var(--16px);
}

.header__tagline {
  order: -1;
  font-weight: var(--fw-extralight);
}

/* Page Layout: */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--32px);

  margin: 0 var(--36px) 76px;
}

.group-mid {
  display: flex;
  flex-direction: column;
  gap: var(--32px);
}

/* Card: */
.card {
  display: flex;
  flex-direction: column;

  max-width: 350px;

  background-color: white;
  padding: var(--32px);
  border-radius: var(--8px);

  box-shadow: 0px 4px 11px -2px rgba(105, 112, 119, 0.25);
}

.card__title {
  font-size: var(--20px);
  line-height: 1.35;
  font-weight: var(--fw-semibold);
  margin-bottom: var(--6px);
}

.card__description {
  color: var(--clr-grey-400);
  font-size: var(--13px);
  line-height: 1.6;
  margin-bottom: var(--32px);
}

.card__image {
  width: 64px;
  align-self: end;
}

/* Colored Borders: */
.bt-cyan {
  border-top: var(--4px) solid var(--clr-primary-cyan);
}

.bt-red {
  border-top: var(--4px) solid var(--clr-primary-red);
}

.bt-orange {
  border-top: var(--4px) solid var(--clr-primary-orange);
}

.bt-blue {
  border-top: var(--4px) solid var(--clr-primary-blue);
}
/* 
********************************
FOOTER:
********************************
*/

.attribution {
  text-align: center;
  font-size: var(--11px);
  color: var(--clr-attribution);
  margin-bottom: var(--24px);
}

/* LINKS */
/* Default State */
.attribution a:link {
  color: var(--clr-attribution);
  text-decoration: none;
}

/* Visited State */
.attribution a:visited {
  color: var(--clr-attribution);
}

/* State On Hover / Whilst being clicked */
.attribution a:hover,
.attribution a:active {
  cursor: pointer;
  opacity: 75%;
}
